<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>io.anchras.remotekvm.client</string>
  <key>CFBundleName</key>
  <string>RemoteKVM</string>
  <key>CFBundleDisplayName</key>
  <string>RemoteKVM</string>
  <key>CFBundleExecutable</key>
  <string>remotekvm-client</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>{{VERSION}}</string>
  <key>CFBundleVersion</key>
  <string>{{BUILD_NUMBER}}</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>RemoteKVM Auth Callback</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>remotekvm</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
